body{
    background-color: #777777;
}
header{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    height: 80px;
    background-color: black;
    
    
}
nav{
    display: flex;
    gap: 10px;
    align-items: 50px;

}
.somos1{
   height: 200px;
   border: 6px  solid;
   display: grid ;
   grid-template-columns: 22% ;
   justify-content: center ;
   gap: 50px;

}
a{
    text-decoration: none;
    margin: 10px;
    color: aliceblue;
}
a:hover{
    background-color: #525050;
    padding: 5px;
    box-shadow: 3px 3px 3px;
}
.b{
    color: #777777;
    margin-left: 70px;
    margin-right:70px ;
    margin-top: 70px;
}
.logo{
    margin-left: 20px;
    width: 122px;
    
}
.encabezado{
    text-align: center;
    margin: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;

}
.frase{
    text-align: center;
    margin: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    box-shadow: 10px 5px 30px black;

}
.galeria{
   height: 300px;
   border:6px;
   display : grid ;
   grid-template-columns: 15% 15% 15% 15% 15%;

   justify-content: center;
   gap: 100px;



}

.foto{
  
    width: 300px;
    background-size: cover;
    box-shadow: 10px 35px 20px #3d3d3d
    
}
.p1{
    text-align: left;
    margin-left: 300px;
    border: solid rgb(131, 131, 131) 5px ;
    
    

}
.p2{
    text-align: center;
    margin-left: 170px;
    margin-right: 170px;
    border: solid #794141 5px ;
}
.p3{
    margin-right: 300px;
    border: solid rgb(131, 131, 131) 5px ;
}
div{
    display: flex;
    flex-direction: row;

}
.contactanos{
    margin-left: 50px ;

}
.somos{
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.galeriac{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777777;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    border: 1px rgb(255,255,255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fotog{
    box-shadow: 10px 35px 20px #3d3d3d;
    display: grid;
    grid-template-columns: 20% 20% 20% ;
    grid-auto-rows: minmax(200px, auto);
    gap: 3px;
    padding: 20px;
    grid-auto-flow: dense;
}
.fotog:hover{
    filter: opacy(0.9);
    transform: scale(1.04);
}
@media(min-width: 600px){
    .wide{
        grid-column: span 2;
    }
    .tall{
        grid-row: span 2;
    }
}
    